:root {
    --soft-black:#2b2d2e;
    --strong-violet: #703ea8;
    --soft-violet: #aa60ff;
    --left-space: 30px;
}

/* Sitewide Styles */

*,
* header,
* footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    color: var(--soft-violet);
    background-color: var(--soft-black);
}

button {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 15px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    font-weight: 600;
}

h6 {
    font-size: 10px;
    font-weight: 200;
}

/* Header and Navbar */

header {
    display: flex;
    align-items: flex-start;
    height: 60px;
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid var(--strong-violet);
}
    header h1 {
        font-size: 45px;
        margin-right: auto;
    }

    nav {
        float: right;
        font-size: 20px;
        margin: 20px;
        margin-right: 40px;
    }
    
    header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }

/* "About Me" Section */

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    margin-left: var(--left-space);
}
    #about p {
        width: 75%;
        margin-right: 20px;
    }

/* section-heading applies to both headings in <main>: "About Me" and "Previous Work". By default, the border for those elements comes from this class. */

.section-heading {
    width: 200px;
    margin-right: 15px;
    text-align: center;
    border-right: 3px solid var(--strong-violet);
    flex-shrink: 0;
}

/* section-wrap's purpose is to align the profile image and "About Me" heading. It is also responsible for the border for this section, along with the vertical alignment of the borders of the two sections in <main>. */

.section-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    margin-right: 15px;
    border-right: 3px solid var(--strong-violet);
}

#profile-image {
    max-width: 150px;
    margin-bottom: 8px;
}

/* #aboutMe-heading removes the unaligned border inherited from class section-heading and centers the profile image with the heading. */

#aboutMe-heading {
    border-right: 3px transparent;
    padding-left: 10px;
}

/* "Previous Work" Section */

#work {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: var(--left-space);
}

    #work h2 {
        padding-top: 130px;
    }

/* figbox applies to all images (but is not limited to images) on the page, providing their borders and figcaption positioning basis. */

.figbox {
    width: min-content;
    height: min-content;
    position: relative;
    padding: 0px;
    margin: 10px;
    border: 3px solid var(--strong-violet);
}
    .figbox figcaption {
        position: absolute;
        padding: 5px;
        bottom: 0px;
        background-color: var(--soft-black);
        border-top: 3px solid var(--strong-violet);
        border-right: 3px solid var(--strong-violet);
    }

    .figbox:hover {
        box-shadow: 1px 1px 10px var(--soft-violet);
        cursor: pointer;
    }

#first-image {
    width: 375px;
    height: 325px;
    object-fit: cover;
    flex-basis: 600px;
}

/* other-images-container puts all of the smaller images in a flexbox so that they form their own grid and can wrap within themselves. */

.other-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 600px;
}

.other-images {
    width: 250px;
    height: 150px;
}

/* all-images-container combines first-image and other-images-container into one flexbox that wraps as needed. */

.all-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

/* Footer and Navbar */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 10px;
    border-top: 3px solid var(--strong-violet);
    margin-top: 10px;
}
    footer h2 {
        font-size: 25px;
        margin-left: 45px;
        margin-right: auto;
        width: 200px;
        text-align: center;
    }

    footer nav {
        float: right;
        font-size: 20px;
        margin: 20px;
        margin-right: 50px;
    }
    
    footer nav ul li {
        display: inline-block;
        margin-right: 25px;
        padding: 0px 50px;
    }

/* Switching from Row to Two Columns for Images */

@media screen and (max-width: 1261px) {
    #about p {
        font-size: 88%;
        width: 60%
    }
    #first-image {
        width: 525px;
    }
    footer nav ul li {
        padding: 10px;
    }
}

/* Tablet View */

@media screen and (max-width: 992px) {
    header h1 {
        font-size: 40px;
    }
    #about p {
        font-size: 78%;
    }
    #first-image {
        width: 450px;
        height: 275px;
        object-fit: cover;
    }
    .other-images {
        width: 212px;
        height: 120px;
        object-fit: cover;
    }
    footer nav {
        margin-right: 20px;
    }
}

/* Mobile Friendly Layout, Transforms All Elements into Centered Columns */

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: 220px;
        border-bottom: 3px dashed var(--strong-violet);
    }
        header h1 {
            text-align: center;
            margin: 0;
        }
        header nav ul li {
            display: flex;
            flex-direction: column;
            padding: 3px;
            margin-bottom: 10px;
            border: 3px solid var(--strong-violet);
            text-align: center;
            font-size: 100%;
        }
    #about {
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }
        #about p {
            text-align: center;
            width: 70%;
            font-size: 100%;
        }
    .section-heading {
        border: none;
        border-bottom: 3px solid var(--strong-violet);
        margin: 0;
        margin-bottom: 10px;
    }
    .section-wrap {
        border: none;
    }
    #work {
        margin: 0;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
        #work h2 {
            padding: 0;
        }
    h5 {
        font-size: 20px;
    } 
    
    h6 {
        font-size: 15px;
    }
   .all-images-container, .other-images-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
   }
   #first-image {
    width: 400px;
    height: 325px;
   }
   .other-images {
    width: 350px;
    height: 175px;
   }
   footer {
    height: 220px;
    margin: 0;
    flex-direction: column;
    align-items: center;
   }
        footer h2 {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 200%;
        }
        footer nav ul li {
            display: flex;
            flex-direction: column;
            padding: 3px;
            border: 3px solid var(--strong-violet);
            text-align: center;
            margin-bottom: 15px;
            margin-right: 0;
        }
}

/* Layout for Small Mobile Screens, Minimum 320px */

@media screen and (max-width: 450px) {
    header {
        height: 200px;
    }
        header h1 {
            font-size: 30px;
        }
        header .nav ul li {
            font-size: 100%;
        }
    #about p {
        width: 85%
    }
    #first-image {
        width: 280px;
        height: 200px;
    }
    .other-images {
        width: 250px;
        height: 175px;
    }
}